<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name%>'>

<%= yield %>

</body>
</html>
