// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#Conteudo{
	#main{
		h1{
			margin-left:20px;
		}
		.item{
			margin-top: 10px;
			margin-left: 100px;
			margin-right: 100px;
			border-radius: 10px;
			background-color: gray;
			padding: 10px;
			
			.imagem{
				float: left;
				width: 100px;
				height: 100px;
			}			
		}
	}
}