// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#Conteudo{
	#Main{
		h1{
			margin-left:20px;
			margin-top:25px;
			border-bottom: 2px solid gray;
			margin-right: 2px;
		}
		.item{
			margin-right: 100px;
			margin-left: 70px;
			padding: 10px;
			padding-bottom: 50px;
			border-bottom: 2px solid gray;
			
			.imagem{
				float: left;
				width: 100px;
				height: 100px;
			}
		}
		.item:last-child{
			margin-right: 100px;
			margin-left: 70px;
			padding: 10px;
			padding-bottom: 50px;
			border-bottom: 2px solid #EEE9E9;
				
			.imagem{
				float: left;
				width: 100px;
				height: 100px;
			}
		}
		img{
			width: 80px;
			height: 100px;
		}
		
		.titulo h2{
			margin-left:30px;
			color:#B0C4DE;
			margin-top: 10px;
			padding-bottom: 3px;
		}		
		
		.produtos{
			border-top: 2px solid blue;
			background: #EEE9E9;
			margin-left: 30px;
			margin-right: 30px;
			border-bottom: 2px solid blue;
		}
	}
}